@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scrollbar but allow scroll */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  will-change: transform;
}

html, body {
  height: 100%;
  overflow: hidden;
}

